.profile {
    width: calc(100% - 38px);
    margin: 0 auto 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 680px) {
    .profile {
        flex-direction: column;
        margin-bottom: 36px;
    }
}