.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 680px) {
    .header__logo {
        width: 130px;
        margin-bottom: 26px;
        padding-left: 27px;
    }
}