.header {
    width: calc(100% - 38px);
    margin: 0 auto 40px;
    padding-top: 45px;
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, .50);
}

@media screen and (max-width: 680px) {
    .header {
        padding-top: 24px;
        margin: 0 auto 42px;
        width: 100%;
    }
}