.profile__title {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 680px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}