.title {
    max-width: 294px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: left;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 680px) {

    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}