.element__item {
  min-height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 31px;
  padding-left: 21px;
  padding-right: 15px;
}