.profile__add-button {
  margin-right: 0px;
  margin-left: auto;
  padding: 0;
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 50px;
  top: 35px;
  bottom: 35px;
  box-sizing: border-box;
  background: transparent center url(../../../images/Vector.svg);
  background-size: 22px;
  background-size: auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 680px) {
  .profile__add-button {
    max-width: 320px;
    width: 100%;
    margin: 0;
    background-size: 16px;
  }
}