.element__botton-like {
    margin: 0;
    padding: 0;
    background: url(../../../images/like.svg);
    border: none;
    box-sizing: border-box;
    background-size: auto;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
}