.element__botton-like {
    margin: 0;
    padding: 0;
    min-width: 25px;
    min-height: 25px;
    background: transparent;
    background-image: url(../../../images/like.svg);
    background-size: 22px 19px;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
}