.profile__info {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 394px;
}

@media screen and (max-width: 680px) {
    .profile__info {
        width: calc(100% - 38px);
        align-items: center;
        margin-top: 22px;
        margin-bottom: 36px;
    }
}