.element__button-delete {
    position: absolute;
    right: 0px;
    margin: 18px 15px;
    padding: 0;
    min-width: 18px;
    min-height: 19px;
    background: transparent;
    background-image: url(../../../images/delete-button.svg);
    background-size: 18px 19px;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.element__button-delete:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}