.footer {
    width: calc(100% - 38px);
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media screen and (max-width: 680px) {
    .footer {
        padding-top: 43px;
        padding-bottom: 36px;
        ;
    }
}