.element__button-like {
    margin: 0;
    padding: 0;
    min-width: 25px;
    min-height: 25px;
    background: transparent;
    background-image: url(../../../images/like-button.svg);
    background-size: 22px 19px;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.element__button-like:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}